//site color variables
$body-color: #FFF;
$bg-color:#DFF1F4;
$primary-color: #007af5;
$secondary-color: #5477F8;
$text-color: #808080;
$text-color-light: #cccccc;
$text-color-dark:#252525;
$nav-bg-color:#222;
$footer-bg-color:#222;
$site-ease: cubic-bezier(0.77, 0, 0.175, 1);
$border-color: #EDEDF4;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Open Sans', sans-serif;