.partners {
    padding: 100px 0;
    text-align: center;
    background-color: #f9f9f9;
  
    &-title {
      margin-bottom: 50px;
      font-size: 2.5rem;
      color: #333;
    }
  
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
  
      &-item {
        width: 150px;
        text-align: center;
  
        img {
          max-width: 100%;
          height: auto;
          margin-bottom: 10px;
        }
  
        p {
          font-size: 1rem;
          color: #666;
        }
      }
    }
  }