{{ if .Site.Data.partners.enable }}
<section class="partners">
  <div class="container">
    <h2 class="partners-title">{{ .Site.Data.partners.title }}</h2>
    <div class="partners-list">
      {{ range .Site.Data.partners.partners }}
      <div class="partners-list-item">
        <img src="{{ .image }}" alt="{{ .name }}">
        <p>{{ .name }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}